html,body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    width: 100%;
    padding-bottom: 10px;
}

.tile, .fullscreen {
    display:none;
}

.tilesd {
    display: inline-block;
    height: 100%;
    line-height: 100px;
}

#tilediv {
    border: none;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 150%;
}

#yellowdiv {
    width: 10%;
    background-color: #F0AD4E;
}

#greendiv {
    width: 80%;
    background-color: #5CB85C;
}

#reddiv {
    width: 10%;
    background-color: #D9534F;
}

.tile {
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: .005em;
}

.active {
    background: #F5F5F5;
    flex: 1 1 auto;
    display: flex;
}

 .map {
    height: 350px;
    width: 100%;
    background-color: #F5F5F5;
 }

.circle {
    width: 11px;
    height: 11px;
    -webkit-border-radius: 5.5px;
    -moz-border-radius: 5.5px;
    border-radius: 5.5px;
    background: white;
}


.circle, .details
{
    display:inline-block;
}
#circle1 {
    background: green;
}

.lightcell {
    width: 20px;
}

.timetable {
    text-align: right;
}

.service {
    padding-top: 15px;
}

.walkingtime {
    background-color: #F5F5F5;
    padding-left: 15px;
}

.toppanel {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
}
.panel-heading:hover {
    background-color: #F0EDE5 !important;
}

.panel-group {
    position: absolute;
    width: 100%;
}
